<section id="second-section" class="info-group">
    <div class="additionalContent">
        <div id="kik" class="container-fluid descripcion-proyecto fondo-oscuro obj-breadcrumbs" data-texto="">
            <div class="fondoProyecto">
                <img class="img-fondo-proyecto object-fit-ie-fix-header" src="img/proyectos/energy/energy-fondo.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ 'P2.TITULO' | translate }}</h2>
                        <h3>{{ 'P2.SUBTITULO' | translate }}</h3>
                        <ul class="list-unstyled roleUl">
                            <li><strong>{{ 'ROLE' | translate }}</strong></li>

                            <li>{{ 'P2.ROLE1' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled clientUl">
                            <li><strong>{{ 'CLIENTE' | translate }}</strong></li>
                            <li>{{ 'P2.CLIENTE' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled urls">
                            <li><a href="http://www.hacencosasincreibles.com" target="_blank" class="hoverLinea">www.hacencosasincreibles.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="breadcrumbs-web" class="obj-breadcrumbs" data-texto="{{ 'P2.TEXTO-1' | translate }}">
            <div class="container-fluid fondoGris">
                <div class="row">
                    <div class="container descripcion">
                        <div class="row">
                            <div class="col-md-12 obj-appear" id="titulo-proyecto1">
                                <h3>{{ 'P2.TITULO-1' | translate }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 obj-appear" id="textos-proyecto1">

                                <p data-ng-bind-html="'P2.CONT-1-1' | translate | htmlSafe"></p>
                            </div>
                            <div class="col-md-6 obj-appear" id="textos-proyecto2" data-delay="0.2">
                                 <p data-ng-bind-html="'P2.CONT-1-2' | translate | htmlSafe"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b1" class="container-fluid fondoGrisBlanco ">
                <img id="obj-appear1" class="obj-appear img-proyecto-web" src="img/proyectos/energy/mockup-navegador-web-energy.png">
            </div>
            <div class="container-fluid fondoBlanco fondoEnergy">
                <div class="row energyMod1">
                    <div class="col-xs-11 text-right img-logo">
                        <img data-inicio="250" data-destino="150" class="obj-parallax" src="img/proyectos/energy/logo-energy.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center  energyMod2 ">
                        <img data-inicio="350" data-destino="-50" class="obj-parallax img-responsive" src="img/proyectos/energy/web-isometric1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center  energyMod3">
                        <img data-inicio="200" data-destino="-50" class="obj-parallax img-responsive" src="img/proyectos/energy/web-isometric2.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 text-right energyMod4 img-mobile">
                        <img id="obj-appear5" class="obj-appear" src="img/proyectos/energy/telefono-energy.png">
                    </div>
                </div>
            </div>

            <div class="container-fluid fondo-oscuro2 fondoAzul fondoVerde">


                <video id="video1" class="obj-video" poster="img/proyectos/energy/poster-video-energy.jpg" autoplay loop>
                    <source src="img/proyectos/energy/video-energy.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>
<div id="breadcrumbs-app" class="obj-breadcrumbs" data-texto="{{ 'P2.TEXTO-2' | translate }}">
    <section id="proyecto-aguas-bloque4" class="info-group fondo-oscuro3 energy">
        <div class="contScreensApp">
            <img id="img-screens-aguas1" src="img/proyectos/energy/screens-mobile-energy1.png">
            <img id="img-screens-aguas2" src="img/proyectos/energy/screens-mobile-energy2.png">
        </div>
    </section>
</div>
<section id="proyecto-aguas-bloque5" class="info-group fondo-oscuro4 obj-breadcrumbs bloque-base energy-bloque" data-texto="{{ 'P2.TEXTO-3' | translate }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-6  obj-appear" id="texto-totem" data-delay="0.3">
                <h3>{{ 'P2.TITULO-2' | translate }}</h3>
                 <p data-ng-bind-html="'P2.CONT-2' | translate | htmlSafe"></p>
            </div>
            <div class="col-xs-11 energy-img">
                <img id="obj-appear2" class="obj-appear img-responsive" src="img/proyectos/energy/web-isometric-all.png">
            </div>
        </div>
    </div>
</section>
