<section id="second-section" class="info-group">
    <div class="additionalContent">
        <div id="kik" class="container-fluid descripcion-proyecto fondo-oscuro obj-breadcrumbs" data-texto="">
            <div class="fondoProyecto">
                <img class="img-fondo-proyecto object-fit-ie-fix-header" src="img/proyectos/muchosol/muchosol-fondo.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ 'P4.TITULO' | translate }}</h2>
                        <h3>{{ 'P4.SUBTITULO' | translate }}</h3>
                        <ul class="list-unstyled roleUl blanco">
                            <li><strong>{{ 'ROLE' | translate }}</strong></li>
                            <li>{{ 'P4.ROLE1' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled clientUl blanco">
                            <li><strong>{{ 'CLIENTE' | translate }}</strong></li>
                            <li>{{ 'P4.CLIENTE' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled urls">
                            <li><a href="http://www.muchosol.es" target="_blank" class="hoverLinea">www.muchosol.es</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="breadcrumbs-web" class="obj-breadcrumbs" data-texto="{{ 'P4.TEXTO-1' | translate }}">
            <div class="container-fluid fondoGris">
                <div class="row">
                    <div class="container descripcion">
                        <div class="row">
                            <div class="col-md-12 obj-appear" id="titulo-proyecto1">
                                <h3>{{ 'P4.TITULO-1' | translate }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 obj-appear" id="textos-proyecto1">
                                 <p data-ng-bind-html="'P4.CONT-1-1' | translate | htmlSafe"></p>
                            </div>
                            <div class="col-md-6 obj-appear" id="textos-proyecto2" data-delay="0.2">
                                 <p data-ng-bind-html="'P4.CONT-1-2' | translate | htmlSafe"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b1" class="container-fluid fondoGrisBlanco ">
                <img id="obj-appear1" class="obj-appear img-proyecto-web" src="img/proyectos/muchosol/muchosol-mockup.png">
            </div>
            <div class="container-fluid fondoBlanco fondoMuchosol">
                <div class="row">
                    <div class="hidden-xs col-md-12 text-center">
                        <img data-inicio="-100" data-destino="-300" class="obj-parallax" src="img/proyectos/muchosol/mochosol-icon-back.png">
                    </div>
                    <div class="visible-xs-block col-xs-8 col-xs-push-2 text-center">
                        <img class="img-responsive" src="img/proyectos/muchosol/mochosol-icon-back.png" style="margin-bottom: 15px;">
                    </div>
                </div>
                <div class="row hidden-xs">
                    <div class="col-xs-12 col-md-12 text-center muchosolMod1">
                        <img class="img-sombra" src="img/proyectos/muchosol/screen1a-muchosol.png">
                    </div>
                </div>
                <div class="row hidden-xs">
                    <div class="col-xs-12 col-md-12 text-center muchosolMod2">
                        <img data-inicio="400" data-destino="-1200" class="obj-parallax img-sombra" src="img/proyectos/muchosol/screen1b-muchosol.png">
                    </div>
                </div>
                <div class="row visible-xs-block">
                    <div class="col-xs-12 text-center">
                        <img class="img-responsive" src="img/proyectos/muchosol/screen1-muchosol.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="proyecto-aguas-bloque5" class="info-group fondo-oscuro2 bloque-base obj-breadcrumbs muchosol-bloque" data-texto="{{ 'P4.TEXTO-2' | translate }}">
    <div class="container-fluid vertical-bottom">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-push-7 obj-appear" id="texto-muchosol-comp" data-delay="0.3">
                <h3>{{ 'P4.TITULO-2' | translate }}</h3>
                <p data-ng-bind-html="'P4.CONT-2' | translate | htmlSafe"></p>
            </div>
            <img id="muchosol-comp" class="obj-appear" src="img/proyectos/muchosol/muchosol-iso1.png">
        </div>
    </div>
</section>
