<section id="second-section" class="info-group">
    <div class="additionalContent">
        <div id="kik" class="container-fluid descripcion-proyecto fondo-oscuro obj-breadcrumbs" data-texto="">
            <div class="fondoProyecto">
                <img class="img-fondo-proyecto object-fit-ie-fix-header" src="img/proyectos/zeendo/zeendoo-fondo.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ 'P3.TITULO' | translate }}</h2>
                        <h3>{{ 'P3.SUBTITULO' | translate }}</h3>
                        <ul class="list-unstyled roleUl blanco">
                            <li><strong>{{ 'ROLE' | translate }}</strong></li>
                            <li>{{ 'P3.ROLE1' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled clientUl blanco">
                            <li><strong>{{ 'CLIENTE' | translate }}</strong></li>
                            <li>{{ 'P3.CLIENTE' | translate }}</li>
                        </ul>
                        <ul class="list-unstyled urls">
                            <li><a href="http://www.zeendo.com" target="_blank" class="hoverLinea">www.zeendo.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="breadcrumbs-web" class="obj-breadcrumbs" data-texto="{{ 'P3.TEXTO-1' | translate }}">
            <div class="container-fluid fondoGris">
                <div class="row">
                    <div class="container descripcion">
                        <div class="row">
                            <div class="col-md-12 obj-appear" id="titulo-proyecto1">
                                <h3>{{ 'P3.TITULO-1' | translate }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 obj-appear" id="textos-proyecto1">

                                <p data-ng-bind-html="'P3.CONT-1-1' | translate | htmlSafe"></p>
                            </div>
                            <div class="col-md-6 obj-appear" id="textos-proyecto2" data-delay="0.2">
                                <p data-ng-bind-html="'P3.CONT-1-2' | translate | htmlSafe"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="b1" class="container-fluid fondoGrisBlanco ">
                <img id="obj-appear1" class="obj-appear img-proyecto-web" src="img/proyectos/zeendo/mockup-navegador-web-zeendo.png">
            </div>
            <div class="container-fluid fondoBlanco fondoZeendo">
                <div class="row">

                    <div class="hidden-xs col-md-12 text-center">
                        <img data-inicio="-100" data-destino="-300" class="obj-parallax" src="img/proyectos/zeendo/logo-zeendo.png">
                    </div>

                    <div class="visible-xs-block col-xs-8 col-xs-push-2 text-center">
                        <img class="img-responsive" src="img/proyectos/zeendo/logo-zeendo.png" style="margin-bottom: 15px;">
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 col-md-6 col-md-push-2 text-center">
                        <img data-inicio="100" data-destino="-500" class="obj-parallax img-responsive img-sombra" src="img/proyectos/zeendo/web-parallax-zeendo1.png">
                    </div>
                    <div class="hidden-xs hidden-sm col-xs-7 col-xs-push-1 col-md-3 col-md-pull-2">
                        <img data-inicio="700" data-destino="-600" class="obj-parallax img-responsive img-sombra" src="img/proyectos/zeendo/web-parallax-zeendo2.png">
                    </div>
                </div>
                <div class="row zeendoMod1">
                    <div class="hidden-xs col-xs-12 col-md-5 col-md-push-2 text-center">
                        <img data-inicio="1000" data-destino="-1600" class="obj-parallax img-responsive img-sombra" src="img/proyectos/zeendo/web-parallax-zeendo3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="proyecto-aguas-bloque5" class="info-group fondo-oscuro2 obj-breadcrumbs bloque-base zeendo-bloque" data-texto="{{ 'P3.TEXTO-2' | translate }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-push-7 obj-appear" id="texto-zeendo-comp" data-delay="0.3">
                <h3>{{ 'P3.TITULO-2' | translate }}</h3>
                <p data-ng-bind-html="'P3.CONT-2' | translate | htmlSafe"></p>
            </div>
            <img id="zeendo-comp" class="obj-appear" src="img/proyectos/zeendo/zeendo-theme-guides.png">
        </div>
    </div>
</section>
